<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub Reddit Bot</title>
</head>
<body>
    <div class="entry">
        <h1>Hello, /u/{{user.name}} <a href="{{baseUrl}}/logout">Sign out</a></h1>
        <div class="body">
            : ^ )
        </div>
    </div>
</body>
</html>
