<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub Reddit Bot</title>
</head>
<body>
    <div class="entry">
        <h1>Hello, {{user.name}} (Reddit ID: {{user.id}}</h1>
        <div class="body">
            : ^ )
        </div>
    </div>
</body>
</html>
